[Unit]
Description=NPay's distributed currency daemon
After=network.target

[Service]
User=npay
Group=npay

Type=forking
PIDFile=/var/lib/npayd/npayd.pid

ExecStart=/usr/bin/npayd -daemon -pid=/var/lib/npayd/npayd.pid \
          -conf=/etc/npay/npay.conf -datadir=/var/lib/npayd

ExecStop=-/usr/bin/npay-cli -conf=/etc/npay/npay.conf \
         -datadir=/var/lib/npayd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
